.title{
  text-align: center;
  background-color: #4CAF50;
  padding: 0.04px;
}
.titletext{
  color: white;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.nav-container {
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: #4CAF50;
  height: 100%;
}

.nav a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  background-color: #4CAF50;
}

.nav a:hover {
  background-color: #3e8e41;
  cursor: pointer;
}
